body {
    background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #EDEDED 0%, #ADA6A0 50%);
}

p {
    font-size: 12px;
    color: #343433;
}

img {
    max-width: 100%;
}

ul, li {
    display: block;
}

.logo {
    margin: 0 auto;
    padding-top: 60px;
}

.logo h1 {
    font-size: 89px;
    color: #bebcba;
}

.background {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

ul.menu {
    margin-left: 0px;
}

.menu__item {
    margin: 0 45px;
}